@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
    background-color: black;
    color: #cbd5e0;
  }
.active-link {
    border-bottom: rgb(179, 255, 0) 3px solid; 
  }
body{
  background-color:rgb(241, 241, 241);
  color: black;
}
